{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-typescript",
        "transform-class-properties",
        "transform-object-rest-spread"
    ],
    "parserOpts": {
        "plugins": [
            "decorators2"
        ]
    }
}
